body {
    font-family: Arial, sans-serif;
    background-color: #edffe6;
    color: #333;
    margin: 0;
}

header {
    background-color: rgb(247, 247, 219);
    color: rgb(33, 119, 62);
    text-align: center;
    padding: 20px;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 15px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* ΔΙΟΡΘΩΣΗ ΕΔΩ */
h2 {
    color: brown;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}

ol {
    list-style-type: decimal;
    padding-left: 30px;
}

li {
    display: list-item;
}

/* ΓΙΑ 2 ΦΩΤΟ ΔΙΠΛΑ-ΔΙΠΛΑ */
.container {
    display: flex;
    gap: 10px;
}

.container img {
    width: 50%;
    height: 200px;
    object-fit: cover;
}
header {
    background-color: rgb(247, 247, 219);
    color: rgb(33, 119, 62);
    text-align: center;
    padding: 20px;
  
}