body {
    background-color: #cff7af;
    margin: 0;
    font-family: Arial, sans-serif;
}


.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgb(233, 225, 187);
    border-radius: 15px;
}
h1 {
    text-align:center;
}
header img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}


.image-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.image-container img {
    width: 50%;
    border-radius: 10px;
}


footer {
    margin-top: 30px;
    text-align: center;
}

