body {
  font-family: Arial, sans-serif;
  background-color: #edffe6;
  margin: 0;
}


header {
  text-align: center;
  background-color: white;
}

header img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}


main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* ✅ CONTAINER ΜΕ ΠΡΑΣΙΝΟ ΜΕΣΑ */ontainer {
  background-color: rgb(247, 247, 115); 
  padding: 20px; 
  margin: 20px 0; 
  border-radius: 10px;
}


h1, h2 {
  color: brown;
}

/* FOOTER */
footer {
  background-color: rgb(247, 247, 115);
  color: white;
  text-align: center;
  padding: 10px;
}